header {
    background-color: #444261;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 100
}

.cabecalho-lista-item{
  display: inline-block; 
}
        
    